body{
    margin: 0;
    font-family: 'Cinzel Decorative', serif;
    background-color: #553717;
    text-align: center;
}
.container{
    padding: 60px 20px;
}
.hidden{
    display: none;
}
h1,h2{
    text-shadow: 2px 2px #f7e4b5;
}
button {
    background: #5c2a9d;
    color: #f7e4b5;
    border: none;
    padding: 12px 20px;
    margin-top: 20px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 2px 2px 6px #000;
}
button:hover {
    background: #7b42c0;
}
.quiz {
    margin-top: 30px;
}
.result {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}